@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Sixtyfour+Convergence&display=swap');


.w3-sidebar {
    width: 110px;
    background: #f3647e;
    position: relative;
    top: 0;
    z-index: 1;
    height: 100vh;
    transition: opacity 0.3s, visibility 0.3s;
    visibility: hidden;
    opacity: 0;
    justify-content: space-between;
}

.w3-sidebar.expanded {
    visibility: visible;
    opacity: 1;
}

#main {
    margin-left: 0px;
    transition: margin-left 0.3s;
}

.w3-sidebar.expanded~#main {
    margin-left: 120px;
    /* Ajuste para o espaço da sidebar */
}

.w3-bar-item {
    display: flow-root;
    align-items: center;
}

.toggle-btn {
    font-size: 24px;
    color: white;
    background: none;
    border: none;
    cursor: pointer;
    position: fixed;
    top: 10px;
    left: 10px;
    z-index: 2;
    /* Garante que o botão fique acima da sidebar */
}

.w3-row-padding img {
    margin-bottom: 12px
}


.carousel-container {
    position: relative;
}

.mySlides {
    display: none;
}



@media only screen and (max-width: 600px) {
    #main {
        margin-left: 0
    }
}

body {
    margin: 0;
    font-family: "Montserrat", sans-serif;
}

h2 {
    color: black;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
}

h5 {
    color: #ff6961;
    font-family: "Oxanium", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}

h1 {
    color: #f3647e;
    font-family: "Sixtyfour Convergence", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
        "BLED" 0,
        "SCAN" 0,
        "XELA" 0,
        "YELA" 0;

}

h3 {
    color: #ff6961;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.container {
    font-size: 26px;
}

.slider {
    position: relative;
    max-width: 600px;
    margin: auto;
    perspective: 1000px;
}

.slide {
    display: none;
    padding: 20px;
    text-align: center;
    background: #000000;
}

.active {
    display: block;
}

.arrow {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: 50px;
    height: 50px;
    background-color: #333;
    color: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateY(-50%) rotateY(0deg);
    transition: transform 0.3s;
}

.arrow:hover {
    transform: translateY(-50%) rotateY(10deg);
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}

h6 {
    font-family: "Oxanium", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}
